
@import 'store.css';
@import 'pokemonCard.css';
@import 'stripe.css';
@import "register.css";
@import 'login.css';
@import 'homePage.css';

@font-face {
  font-family: 'barcadebrawl';
  src: url('../assets/fonts/BarcadeBrawl.ttf');
}

* {
	margin: 1px 3px;
	box-sizing: border-box;
}

html {
	--bggradient: url("../../src/assets/images/background.png");
  --bgcolor: none;
}

body {
	background-image: var(--bggradient);
  background-color: var(--bgcolor);
  background-repeat: repeat;
}

.menu{
	display: flex;
	justify-content: space-between;
}

.logo{
	float: left;    
	height: 48px;
	width: 48px;
}

.logo img{
	width: 100%;
	padding: 5px 0px;
	
}

.menu__right-column {
	float: right;
	
}

.menu__right-column a {
	font-family: 'barcadebrawl';
	padding: 0 1em;
	border-radius: 0.8rem;
	margin-right: 1em;
	line-height: 60px;
	text-decoration: none;
	font-weight: 300;
	font-size: small;
	text-transform: uppercase;
	color: #0074D9;
	float: left;
}

.menu__right-column a:hover {
	background: #0074D9;
	color: white;
}

.btn-logout {
	padding: 0em 1.5em;
	border: none;
  background-color: inherit;
	font-weight: 600;
	line-height: 60px;
	color: #0074D9;
	float: left;
}

.btn-logout:hover {
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
