@import-normalize;
@import 'store.css';
@import 'pokemonCard.css';
@import 'stripe.css';
@import "register.css";
@import 'login.css';
@import 'homePage.css';

* {
	margin: 0px 3px;
	box-sizing: border-box;
}

html {
	--bggradient: url("../../src/assets/images/background.png");
  --bgcolor: none;
}

body {

	background-image: var(--bggradient);
  background-color: var(--bgcolor);
  background-repeat: repeat;
}

.top-header{
		
	text-align: center;
	height: 60px;
}

.logo{
	float: left;          
	margin: none;
	height: 100px;
	width: 100px;
}

.logo img{
	width: 100%;
	float: left;
	padding: 5px 0px;
}

.menu{
	float: right;
	height: 100%;
	margin-left: 100px
}
	
.menu a {
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	color: #0074D9;
	float: left;
}

.menu a:hover {
	background: #0074D9;
	color: white;
	border-left: 1px solid whitesmoke;
}

.btn-logout {
	padding: 0em 1.5em;
	border: none;
  background-color: inherit;
	font-weight: 600;
	line-height: 60px;
	color: #0074D9;
	float: left;
}

.btn-logout:hover {
	text-decoration: underline;
}
