@import-normalize;
@import 'store.css';
@import 'pokemonCard.css';
@import 'stripe.css';
@import "register.css";

* {
	margin: 0px 3px;
}

.top-header{
		
	text-align: center;
	height: 60px;
}

.logo{
	float: left;          
	margin: none;
	height: 60px;
	width: 60px;
}

.logo img{
	width: 60%;
	float: left;
	padding: 5px 0px;
}

.menu{
	float: right;
	height: 100%;
	margin-left: 100px
}
	

.menu a {
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	color: #0074D9;
	float: left;

}
	
	
.menu a:hover {
	background: #0074D9;
	color: white;
	border-left: 1px solid whitesmoke;
	
}