@font-face {
  font-family: 'barcadebrawl';
  src: url('../assets/fonts/BarcadeBrawl.ttf');
}

.filter__container {
  display: flex;
  flex-direction: row;
  margin: 7vh 0 5vh 0;
  gap: 0 10vw;
}

.filter__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'barcadebrawl';
  font-size: 12px;
}

.filter__items>input {
  width: 10vw;
  margin-top: 5px;
  background-color: var(--selectBg);
  color: var(--selectText);
  border: 1px solid var(--selectText);
}


@media screen and (max-width: 767px) {
  .filter__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin: 7vh 0 5vh 0;
    gap: 2vh 2vw;
    justify-content: center;
  }
  select, .filter__items>input{
    width: 40vw;
  }
  
}